<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
	<title>CSV Table</title>  

  <!-- DataTables CSS -->
  	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

  <!-- jQuery library -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- DataTables JS -->
  	<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

  <!-- Link to the filter.js file -->
  	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


	<script src="{{ url_for('static', filename='filter.js') }}"></script>

	
  
</head>


<body>
	<main>
		<section class="table-header">
			<h1 style="color: white;">TICKET DATA</h1>
			<h2 style="color: red;">Attention: Download PDF Button In The Last Column</h2>
			<div class="input-group">
				<input type="search" placeholder="Search Ticket...">
				<img src="static/images/search.png" alt="">
			</div>
		</section>

		<section class="table-body">

			<table id="myTable">
				<thead>
					<tr>
						<th data-filter="user-id">User ID
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="ticket-number">Ticket Number
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="created">Created
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="due-date">Due Date
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="last-message">Time
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="name">Name
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="email">Email
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="status">Status
							<select class="table-filter status-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="phone">Phone
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="source">Source
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="department">Department
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="priority">Priority
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th data-filter="help-topic">Help Topic
							<select class="table-filter">
								<option value="All"></option>
							</select>
						</th>
						<th>PDF</th>
						
					</tr>
				</thead>
				<tbody>
					{% for row in rows %}
				
					<tr>
						{% for value in row %}
						<td>{{ value }}</td>
						{% endfor %}
						<td><button class="download-btn">Download PDF</button></td>	
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</section>

		<section class="table-white">
			
			<div id="summary-section">Summary</div>	

			<div class="statusCountsTable"></div>

			<div class="priorityCountsTable"></div>

			<div class="nameCountsTable"></div>

		</section>

		

	</main>
</body>
</html>
